@font-face {
  font-family: 'Leon-ProductRegular';
  src: url('https://anastasyazi.github.io/CustomFonts/AyalonFont/Leon-ProductRegular.woff2') format('woff2'),
       url('https://anastasyazi.github.io/CustomFonts/AyalonFont/Leon-ProductRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

