@font-face {
  font-family: 'Leon-ProductBold';
  src: url('https://anastasyazi.github.io/CustomFonts/AyalonFont/Leon-ProductBold.woff2') format('woff2'),
       url('https://anastasyazi.github.io/CustomFonts/AyalonFont/Leon-Leon-ProductBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

