@font-face {
  font-family: 'PhoenixPloniFont';
  src: url('https://raw.githubusercontent.com/AnastasyaZi/CustomFonts/main/PhoenixPloniFont/ploni-black-aaa.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/AnastasyaZi/CustomFonts/main/PhoenixPloniFont/ploni-black-aaa.woff') format('woff'),
       url('https://raw.githubusercontent.com/AnastasyaZi/CustomFonts/main/PhoenixPloniFont/ploni-bold-aaa.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/AnastasyaZi/CustomFonts/main/PhoenixPloniFont/ploni-bold-aaa.woff') format('woff'),
       url('https://raw.githubusercontent.com/AnastasyaZi/CustomFonts/main/PhoenixPloniFont/ploni-demibold-aaa.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/AnastasyaZi/CustomFonts/main/PhoenixPloniFont/ploni-demibold-aaa.woff') format('woff'),
       url('https://raw.githubusercontent.com/AnastasyaZi/CustomFonts/main/PhoenixPloniFont/ploni-medium-aaa.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/AnastasyaZi/CustomFonts/main/PhoenixPloniFont/ploni-medium-aaa.woff') format('woff'),
       url('https://raw.githubusercontent.com/AnastasyaZi/CustomFonts/main/PhoenixPloniFont/ploni-regular-aaa.woff2') format('woff2'),
       url('https://raw.githubusercontent.com/AnastasyaZi/CustomFonts/main/PhoenixPloniFont/ploni-regular-aaa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

