@font-face {
  font-family: 'ploni-bold-aaa';
  src: url('https://anastasyazi.github.io/CustomFonts/PhoenixPloniFont/ploni-bold-aaa.woff') format('woff'),
       url('https://anastasyazi.github.io/CustomFonts/PhoenixPloniFont/ploni-bold-aaa.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

