@font-face {
  font-family: 'ploni-regular-aaa';
  src: url('https://anastasyazi.github.io/CustomFonts/PhoenixPloniFont/ploni-regular-aaa.woff2') format('woff2'),
       url('https://anastasyazi.github.io/CustomFonts/PhoenixPloniFont/ploni-regular-aaa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

